body{
  background-color: #717070;
  font-family: cursive;
}
.container {
  margin:auto;
  width: 575px;
  height: 625px;
  background-color: #bbbbbb;
  padding-left: 30px;
  border-radius: 18px;
}
#height,
#weight {
  width: 150px;
  height: 25px;
  margin-top: 30px;
}

#weight-guide {
  margin-left: 75px;
  margin-top: 25px;
}

#results {
  font-size: 35px;
  margin-left: 90px;
  margin-top: 20px;
  color: rgb(241, 241, 241);
}

button {
    width: 150px;
    margin-left: 180px;
    margin-top: 25px;
    background-color: #ceced0;
    border-radius: 8px;
    color: #000000;
    border: 2px solid #dc0000;
    font-size: 25px;
}

h1 {
  padding-left: 15px;
  padding-top: 25px;
  text-align: center;
}
