*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: sans-serif;
    color: black;
    height: 100vh;
    line-height: 1.5;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
}

.main-content {
    filter: none; /* Default state */
    transition: filter 0.3s ease;
}

.main-content.blurred {
    filter: blur(2px);
}

.show-modal{
    font-weight: 600;
    margin: 5rem 2rem;
    padding: 1rem 3rem;
    cursor: pointer;
    border-radius: 45px;
    background: #cff6f6;
    border: 2px solid #f81111;
}

.close-modal {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
    border: none;
    background: none;
}


.hidden{
    display: none;
}


.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    padding: 4rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0c4c19a6;
}